{%extends "base.html"%}
{%block content%}

  <body>
  <script type="text/javascript" language="javascript">
    function show() {
    document.getElementById("headimg3").src = document.getElementById("selection3").value;
    }
</script>
  <br>
  <br>
  <div class="row clearfix">
    <h1 class="text-center">Reinvent Your Face</h1>
    <br>
    <div align="center">
        <p class=error>{{error_msg if error_msg!=None}}</p>
    </div>
    <br>
  </div>
     <form action="{{url_for('image_exchange_part')}}"  enctype="multipart/form-data" method="post">

        <div class="row clearfix">
         <div class="col-md-4 column text-center">
             <div align="center">
             <b>You Should Upload a File</b>
             <br>
                 <div align="center">
                    <input type="file" name="image_file" value="Upload a File" onchange="previewFile()" ><br>
                 </div>
             <img src="static/1.jpeg"  class="img-thumbnail" style="width: 300px; height: 300px;">
             </div>
         </div>


         <div class="col-md-4 column text-center">

         <div align="center">
             <b>You Should choose a pic</b>

             <select id="selection3" name="image3" onchange="show()">
                <option value="{{ urls[0] }}">xjp</option>
                <option value="{{ urls[1] }}">emilia</option>
                <option value="{{ urls[2] }}">emma</option>
                 <option value="{{ urls[3] }}">hc</option>
                 <option value="{{ urls[4] }}">hu</option>
                 <option value="{{ urls[5] }}">justin</option>
                 <option value="{{ urls[6] }}">kobe</option>
                 <option value="{{ urls[7] }}">navas</option>
                 <option value="{{ urls[8] }}">putin</option>
                 <option value="{{ urls[9] }}">taylor</option>
            </select>
             <br><br><br>
                <img id="headimg3" src="{{ urls[0] }}" style="width: 300px; height: 300px;" alt="the pic you choose" />


         </div>
        </div>

         <div class="col-md-4 column text-center">
             <b>You Should choose a part to reinvent</b>
             <br><br><br><br>
             <big>
                 <fieldset class="form-group row">
                     <div class="col-sm-10">
                         <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="part" id="eyes" value="eyes"  checked>
                                    eyes
                             </label>
                         </div>
                         <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="part" id="brow" value="brow" >
                                    brow
                             </label>
                         </div>
                         <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="part" id="nose" value="nose" >
                                    nose
                             </label>
                         </div>
                         <div class="form-check">

                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="part" id="mouse" value="mouse" >
                                    mouth
                             </label>
                         </div>

                    </div>
                 </fieldset>
             </big>
         </div>
        </div>

         <br>

        <div class="col-md-6 column text-center">
            <input type="submit" value="SEND"class="btn btn-default btn-block btn-primary" >
        </div>
</form>

  <div class="col-md-6 column text-center">
  <form action="{{url_for('index',username=username)}}" method="get">
      <input type="submit" value="BACK TO MY PAGE" class="btn btn-default btn-block btn-primary">
  </form>
  </div>


  </body>
    <script>
             function previewFile(){
                var preview = document.querySelector('img');
                var file = document.querySelector('input[type=file]').files[0];
                var reader = new FileReader();

                reader.onloadend = function(){
                    preview.src = reader.result;
                }

                if(file){
                    reader.readAsDataURL(file);
                }else{
                    preview.src="";
                }
             }

         </script>

{% endblock%}
